.services-page {
/*     padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px); */
    position: initial;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 2em;
}
/* -- services title -- */
.services-page-title {
/*     margin-left: 100px;
 */    
    margin-left: 1em;
    font-size: 53px;
    font-family: 'Coolvetica';
    color: #A85281;
    font-weight: 400;
    position: relative;
    left: 10px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    margin-top: 2em;
}
.services-page-title::before{
    content: '<win>';
    font-family: 'La Belle Aurore';
    font-size: 18px;
    position: absolute;
    margin-top: -10px;
    left: -40px;
    opacity: .6;
    line-height: 18px;
}
.services-page-title::after{
    content: '<ethic/>';
    font-family: 'La Belle Aurore';
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    left: -40px;
    bottom: -20px;
/*     margin-left: 20px;
 */    opacity: .6;
}
/* -- text animate -- */
.services-page .text-animate-hover:hover{
    color: #fff;
}
/* -- tags -- */
.bottom-tag-html{
    display: none;
}
/* -- Section Intro */
.services-intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 4em;
    width: 80%;
    color: #fff;
}
.services-intro-paragraph{
    width: 90%;
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    font-family: 'Coolvetica';
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* ------- */
.containerRender{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
/*     padding-bottom: 100px;
 */}
.image-box {
    position: relative;
    flex: 1 1 20%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    width: 30%;
    min-width: 300px;
    max-width: 320px /* calc(25% - 10px) */;
    opacity: 0;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 2s;
}
.image-box:nth-of-type(1){
    animation-delay: 2.4s;
}
.image-box:nth-of-type(2){
    animation-delay: 2.8s;
}
.image-box:nth-of-type(3){
    animation-delay: 3.2s;
}
.service-image {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: absolute;
    width: 100%;
    z-index: 3;
    padding: 10px 20px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 1));
    bottom: -70px;
}
.title {
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}
.services-page .description {
    font-size: 15px;
    margin-bottom: 5px;
    color: #fff;
    color: #000;
    font-weight: normal;
    width: 90%;
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.image-box .btn {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 23px;
    height: 40px;
    line-height: 34px;
    border: 2px solid #A85281;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
}
.services-page .image-box .btn:hover {
    transform: translateY(-3px);
    background: #A85281;
}
.services-page .image-box:after {
    content: "";
    background: linear-gradient(180deg, #A85281, #000);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
}
.services-page .image-box:hover:after {
    opacity: 0.98;
}
.services-page .image-box:hover .content {
    bottom: 0;
    background: transparent;
}
.services-page .image-box:hover .description {
    display: block;
    font-weight: normal;
}
@media screen and (max-width: 1200px){
    .services-page{
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }   
    .containerRender{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .services-page-title{
        margin-left: 0;
        margin-top: 10px;
        font-size: 30px;
        text-align: center;       
    }
    .services-page-title::before,
    .services-page-title::after{
        display: none;
    }
    .images-container{
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 3em;
        align-items: center;
        justify-content: center;
    }
    .image-box{
        max-width: 250px;
        min-width: 250px;
        width: 20rem;
        height: 400px;
        flex: auto;
    }
}
@media screen and (max-width: 520px){
    .services-intro-paragraph{
        width: 90%;
        font-size: 15px;
        font-weight: lighter;
    }
}