.container-impulsarDev{
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 10px;
    line-height: 8px;
}
.impulsarDev-image {
    max-width: 100px;
    max-height: 75px;
}
.impulsarDev-title {
    font-size: 10px;
    line-height: 8px;
    margin-top: 1em;    
    color: #fff;
    font-family: 'Coolvetica';
    margin-right: 2em;
    font-weight: normal;
}
@media screen and (max-width: 520px) {
    .container-impulsarDev{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .impulsarDev-container-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .impulsarDev-image{
        width: 70%;
    }
    .impulsarDev-title{
        margin-right: 0;
    }
}